
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Employee list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for i in emp %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.role}}</td>
      <td>
        <a href="{% url 'emp:emp_details' i.id %}">Details</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}